<div 
  class="border-r-4 w-full flex flex-col h-full shadow-lg cursor-pointer"
  [routerLink]="'/product/' + product._id">
  
  <img
    [src]="product.images[0]"
    alt="Product Image"
    class="w-full h-52 object-cover"
  />

  <div class="p-4 flex flex-1 flex-col justify-between h-full">
    <div>
      <h6 class="mb-2 font-semibold text-lg">{{ product.name }}</h6>
      <p class="text-gray-500 text-sm">{{ product.shortDescription }}</p>
      
    </div>

    <div class="flex justify-between items-center mt-3">
      <span class="text-2xl font-bold text-gray-800">{{ product.price }}₹</span>
      <div class="flex items-center gap-2">
        <span class="text-gray-400 text-lg line-through">{{ product.price }}₹</span>
        <span class="text-orange-500 text-xs font-bold">{{ product.discount }}% OFF</span>
        <span class="text-green-500 text-lg font-bold">{{ sellingPrice }}₹</span>
      </div>
    </div>

    <div class="flex justify-between items-center mt-4">
      <!-- Wishlist Button -->
      <button mat-fab color="warn"  (click)="addToWishList(product)">
        @if (isInWishlist(product)) {
            <mat-icon class="text-red-500">favorite</mat-icon>
        }@else {
            <mat-icon class="text-red-500">favorite_border</mat-icon>
        }
    </button>
       <!-- Add to Cart Button -->
      <button mat-fab color="primary" (click)="addToCart(product)">
       @if (isProductInCart(product._id!)) {
        <mat-icon>remove_shopping_cart</mat-icon>
       }@else {
        <mat-icon>add_shopping_cart</mat-icon>
       }
      </button>
    </div>
  </div>
</div>
